  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto:wght@500&family=Sono:wght@800&display=swap');

  *{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 500;
  }
  


